footer {
    background-color: #00aeef;
    color: #fff;

    .nav-link:hover {
        color: #EEE;
    }

    img {
        max-width: 150px;
    }

    .footer-social {
        font-size: 22px;
    }
}